.content{
	margin: auto;
	border: 1px solid rgba(178,189,209,.2);
	height: 500px;
}
.imgUrlStyle{
	width: 232px;
	margin-left: 32px;
}
.forlale{
    width: 100%;
    padding-left: 43%;
    margin-top: 3%;
}
.firstli{
    float: left;
    list-style-type: none;
    padding-left: 20%;
}
.secondli{
    float: left;
    padding-left: 20%;
    list-style-type: none;
}
.thirdli{
    list-style-type: none;
    padding-left: 20%;
    float: left;
}
.choosefile{
    color: #487df0;
}
.top{
    border: 1px solid rgba(178,189,209,.2);
    height: 35px;
    line-height: 35px;
    background-color: rgba(178,189,209,.2);
}
.fileName{
    color: blue;
    width: 37.2%;
    display: inline-block;
    margin-left: 84px;
    text-align: center;
}
.state{
    color: green;
    margin-left: 37px;
}
.del{
    color: red;
    margin-left: 3px;
    cursor: pointer;
}
.allFile{
    width: 100%;
    border: 1px solid #ffffff;
    float: left;
}
.formDiv{
    margin-top: 300px;
}
.download{
    padding-left: 3px;
    cursor: pointer;
}
.displayshow{
    margin-left: 326px;
    cursor: pointer;
}
.upform{
    height: 164px;
}